
header h1 {
	font-family: Georgia;
	font-weight: normal;
	// line-height: 120px;
	font-size: 36px;
	letter-spacing: .3em;
	font-kerning: none;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}

header h2 {
	font-family: Georgia;
	font-weight: normal;
	font-size: 2em;
	letter-spacing: .4em;
	text-align: center;
	text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #5F2D8C;
	font-family: 'Alegreya Sans', sans-serif;
}

footer {
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color: #999;
	text-align: center;
	font-size: 0.8em;
	position:fixed;
	bottom:0;
}

/* custom CSS styles */

.button {
	background-color: #5F2D8C;
	border-color: #462065;
	color: white;
}
.button:hover, .button:focus {
	background-color: #462065;
}
.panel {
	font-style: italic;
	font-family: Georgia, serif;
}
.panel a {
	font-style: normal;
}
.bottomspace {
	margin-bottom: 2em;
}

/* chapter 3 styling challenge */
article {
	padding-bottom: 2em;
}
article .left {
	padding: 0 1em 1em 0;
}
article .right {
	padding: 0 0 1em 1em;
}
.topspace {
	padding-top: 3em;
}
.topspace p {
	font-size: 0.8em;
	color: #999;
	font-family: Georgia, serif;
	font-style: italic;
}
footer {
	padding: 2em 0;
	color: #999;
	border-top: 1px solid #ccc;
}
footer p {
	font-size: 0.8em;
}

